<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://unpkg.com/thesemetrics@latest"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>what devs need - Curated Developer Tools</title>
        <meta property="og:image" content="https://whatdevsneed.com/assets/img/twitter-card.png" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Discover new developer tools to boost your workflow. No ads. No anoying popups. Just tools." />
        <meta name="twitter:title" content="what devs need - Curated Developer Tools" />
        <meta name="description" content="Discover new developer tools to boost your workflow. No ads. No anoying popups. Just tools." />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Discover new developer tools to boost your workflow. No ads. No anoying popups. Just tools." />
        <meta property="og:title" content="what devs need - Curated Developer Tools" />
        <meta name="twitter:image" content="https://whatdevsneed.com/assets/img/twitter-card.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:200,300,400,500,600,700,800,900&amp;display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&amp;display=swap" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
    </head>
    <body>
        <section class="highlight-clean">
            <div class="container" style="border-style: none;">
                <div class="intro">
                    <p class="text-center" style="color: rgb(0, 0, 0); margin-top: 40px; margin-bottom: -15px; font-size: 20px;"><strong>about...</strong></p>
                    <a href="/" style="color: rgba(255, 255, 255, 0);">
                        <h2 class="text-center" style="font-family: Inter, sans-serif; color: rgb(0, 0, 0); font-size: 60px; letter-spacing: -4px; line-height: 55px; margin-top: 15px;">what devs need</h2>
                    </a>
                    <p class="text-center" style="color: rgb(0, 0, 0); margin-top: -10px;">
                        Discover developer tools to boost your workflow.<br />
                        No ads. No cookies. No tracking. No popups. No signups.
                    </p>
                    <p class="text-start" style="color: rgb(0, 0, 0); margin-top: 60px;">
                        <strong>What is whatdevsneed?</strong><br />
                        This website offers a list of tools for developers - ranging from paid software, to free open source projects. You might know some, but hopefully you'll discover new tools you've never seen. If you have a tool worth
                        sharing, feel free to <a href="https://www.whatdevsneed.com/add">add it</a>!<br />
                        <br />
                        <strong> Why did you make this?</strong><br />
                        I wanted to share the list of tools I've bookmarked over the years. There might already be websites for this kind of thing, but I focused on listing everything from free to paid and picking out extra good tools and
                        marking them as such (similar to curation).<br />
                        <br />
                        <strong> Can I help?</strong><br />
                        Yes! The source code is open source. Check it out <a href="https://github.com/berrysauce/whatdevsneed">here</a>! Maybe you can help me make new features, improve security or squash some bugs.<br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </section>
        <footer class="footer-basic" style="margin-top: 35px;">
            <ul class="list-inline" style="font-size: 14px;">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="/add">Add your tool</a></li>
                <li class="list-inline-item"><a href="https://berrysauce.me/terms" target="_blank">Terms</a></li>
                <li class="list-inline-item"><a href="https://berrysauce.me/privacy" target="_blank">Privacy</a></li>
            </ul>
            <p class="copyright">berrysauce © 2021</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
