<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e34bd1ca5f0f4e76b02df012f44ed991"}'></script><!-- End Cloudflare Web Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>whatdevsneed - Curated Developer Tools</title>
    <link rel="canonical" href="https://whatdevsneed.com/add.html">
    <meta property="og:url" content="https://whatdevsneed.com/add.html">
    <meta property="og:description" content="Discover developer tools to boost your workflow, without any distractions.">
    <meta property="og:title" content="whatdevsneed - Curated Developer Tools">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://whatdevsneed.com/assets/img/thumbnail.webp">
    <meta property="og:image" content="https://whatdevsneed.com/assets/img/thumbnail.webp">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="whatdevsneed - Curated Developer Tools">
    <meta name="description" content="Discover new developer tools to boost your workflow. No cookies. No tracking. No signups. No annoying popups. Just tools.">
    <meta name="twitter:description" content="Discover developer tools to boost your workflow, without any distractions.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900|plus-jakarta-sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/Footer-Multi-Column-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="py-4 py-xl-5" style="color: rgb(224,189,7);background: linear-gradient(#faf6e2 66%, rgba(255,255,255,0)), url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e0bd07' fill-opacity='0.7'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E&quot;), rgb(224,189,7, 0.15);border-bottom: 2px solid rgb(224,189,7);">
        <div class="container">
            <div class="p-4 p-lg-5">
                <h1 class="display-5" style="font-family: 'Plus Jakarta Sans', sans-serif;letter-spacing: -0.5px;font-weight: 700;color: rgb(224, 189, 7);">what devs need&nbsp;<span style="font-weight: normal !important;">—</span>&nbsp;<span><span style="font-weight: normal !important;">Discover developer tools to boost your workflow, without any distractions.</span></span></h1>
                <a class="btn btn-primary" role="button" style="margin-top: 16px;color: rgb(224,189,7);background: rgba(255,255,255,0);border-style: none;font-weight: 600;font-family: 'Plus Jakarta Sans', sans-serif;padding: 4px;margin-bottom: 80px;" href="/"><svg class="icon icon-tabler icon-tabler-arrow-left" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px;margin-bottom: 2px;margin-right: 5px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <line x1="5" y1="12" x2="11" y2="18"></line>
                    <line x1="5" y1="12" x2="11" y2="6"></line>
                </svg>Return to the front page</a>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5">
        <div class="container" style="padding: 48px;">
            <h1 class="fs-2" style="color: rgb(224, 189, 7);letter-spacing: -0.5px;font-family: 'Plus Jakarta Sans', sans-serif;font-weight: bold;margin-bottom: 12px;">Add your favorite tool</h1>
            <p style="color: rgb(181,181,181);margin-bottom: 32px;">Contribute to whatdevsneed by submitting your favourite tool(s). Please only submit tools which haven't been submitted before.</p>
            {% autoescape false %} {{ alert }} {% endautoescape %}
            <form style="margin-bottom: 32px;" action="/add/submit" method="post" enctype="multipart/form-data">
                <input class="form-control" type="text" style="font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;padding: 10px 20px;margin-bottom: 12px;font-weight: 500;" placeholder="Name of the tool" name="name" required="">
                <textarea class="form-control" style="padding: 10px 20px;font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;margin-bottom: 12px;font-weight: 500;" placeholder="Description (max. 200 characters)" minlength="10" maxlength="200" name="description" required=""></textarea>
                <input class="form-control" type="url" style="margin-bottom: 20px;padding: 10px 20px;font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;font-weight: 500;" placeholder="Link to the tool" name="link" required="">
                <small class="form-text" style="color: rgb(181,181,181);font-size: 16px;">Category</small>
                <select class="form-select" style="margin-bottom: 20px;padding: 10px 20px;font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;font-weight: 500;margin-top: 4px;" name="category" required="">
                    <option selected="selected" disabled="true">Please select a category</option>
                    {% autoescape false %} {{ options }} {% endautoescape %}
                </select><small class="form-text" style="color: rgb(181,181,181);font-size: 16px;">Logo</small>
                <input class="form-control" type="file" style="margin-bottom: 20px;font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;margin-top: 4px;" accept="image/*" name="image" required="">
                <small class="form-text" style="color: rgb(181,181,181);font-size: 16px;">Pricing</small>
                <select class="form-select" style="margin-bottom: 12px;padding: 10px 20px;font-family: 'Plus Jakarta Sans', sans-serif;border: 2px solid rgb(230,230,230);border-radius: 12px;font-weight: 500;margin-top: 4px;" name="pricing" required="">
                    <option selected="selected" disabled="true">Please select a category</option>
                    <option value="free" selected="">Free</option>
                    <option value="freemium">Freemium</option>
                    <option value="paid">Paid</option>
                </select>
                <p style="color: rgb(181,181,181);margin-bottom: 32px;"><span style="font-weight: 500;color: rgb(224,189,9);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 14px;margin-right: 5px;margin-bottom: 3px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"></path>
                        </svg>Free</span>&nbsp;—&nbsp;Completely free, without paid plans<br><span style="font-weight: 500;color: rgb(224,189,9);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 14px;margin-right: 5px;margin-bottom: 3px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 64V448C362 448 448 362 448 256C448 149.1 362 64 256 64z"></path>
                        </svg>Freemium</span>&nbsp;—&nbsp;Partly free, with free and paid plans<br><span style="font-weight: 500;color: rgb(224,189,9);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 14px;margin-right: 5px;margin-bottom: 3px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z"></path>
                        </svg>Paid</span>&nbsp;—&nbsp;Only paid plans available</p><div class="cf-turnstile" data-sitekey="0x4AAAAAAAFugwDq2RgI3-uY"></div><button class="btn btn-primary" type="submit" style="margin-top: 16px;width: 100%;font-size: 18px;border-radius: 12px;border-style: none;background: rgb(224, 189, 7);font-weight: 500;padding: 10px 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check" style="font-size: 20px;margin-bottom: 4px;margin-right: 5px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>Submit for review</button>
            </form>
            <p style="color: rgb(181,181,181);">It might take a bit to review your submission. Check back at some point to see if your submission was added. If not, I might be in a bit of stress right now, or your submission was just invalid.</p>
        </div>
    </section>
    <footer>
        <div class="container py-4 py-lg-5" style="padding: 48px;">
            <hr style="border-radius: 12px;opacity: 1;border: 1px solid rgb(230,230,230);margin-bottom: 8px;">
            <div class="d-flex justify-content-between align-items-center pt-3">
                <p style="width: 100%;color: rgb(180,180,180);">Copyright ©&nbsp;<script>document.write(new Date().getFullYear());</script> berrysauce</p>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>