<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "e34bd1ca5f0f4e76b02df012f44ed991"}'></script>
<!-- End Cloudflare Web Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>whatdevsneed - Curated Developer Tools</title>
    <meta name="twitter:title" content="whatdevsneed - Curated Developer Tools">
    <meta property="og:description" content="Discover new developer tools to boost your workflow. No cookies. No tracking. No signups. No annoying popups. Just tools.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://whatdevsneed.com/assets/img/twitter-card.png">
    <meta name="description" content="Discover new developer tools to boost your workflow. No cookies. No tracking. No signups. No annoying popups. Just tools.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://whatdevsneed.com/assets/img/twitter-card.png">
    <meta name="twitter:description" content="Discover new developer tools to boost your workflow. No cookies. No tracking. No signups. No annoying popups. Just tools.">
    <meta property="og:title" content="whatdevsneed - Curated Developer Tools">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Inter.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5" style="margin-top: 20vh;"><p class="fw-light" style="font-size: 25px;"><span style="padding: 0px;font-size: 25px;font-weight: bold;border-right: 2px solid rgb(214,214,214);margin-right: 15px;padding-right: 15px;">{{ code }}</span>{{ detail }}</p></div>
        </div>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>