<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e34bd1ca5f0f4e76b02df012f44ed991"}'></script><!-- End Cloudflare Web Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>whatdevsneed - Curated Developer Tools</title>
    <link rel="canonical" href="https://whatdevsneed.com/error.html">
    <meta property="og:url" content="https://whatdevsneed.com/error.html">
    <meta property="og:description" content="Discover developer tools to boost your workflow, without any distractions.">
    <meta property="og:title" content="whatdevsneed - Curated Developer Tools">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://whatdevsneed.com/assets/img/thumbnail.webp">
    <meta property="og:image" content="https://whatdevsneed.com/assets/img/thumbnail.webp">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="whatdevsneed - Curated Developer Tools">
    <meta name="description" content="Discover new developer tools to boost your workflow. No cookies. No tracking. No signups. No annoying popups. Just tools.">
    <meta name="twitter:description" content="Discover developer tools to boost your workflow, without any distractions.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900|plus-jakarta-sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/Footer-Multi-Column-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="py-4 py-xl-5" style="color: rgb(224,189,7);">
        <div class="container" style="margin-top: 15vh;">
            <div class="p-4 p-lg-5">
                <h1 class="fs-3" style="font-family: 'Plus Jakarta Sans', sans-serif;letter-spacing: -0.5px;font-weight: 400;color: rgb(218,218,218);font-style: italic;">oooops...</h1>
                <h1 class="display-6" style="font-family: 'Plus Jakarta Sans', sans-serif;letter-spacing: -0.5px;font-weight: 700;color: rgb(224, 189, 7);">{{ code }}<span style="font-weight: normal !important;"> — </span><span><span style="font-weight: normal !important;">{{ detail }}</span></span></h1>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>